{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  {% for product in products %}
    <div class="col-lg-4 col-md-6 p-4">
      <div class="card border-primary rounded custom-shadow">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
        <div class="card-body">
            <p class="card-title">
              {% autoescape off %}
                {% if product.headline %}
                  {{ product.headline }}
                {% else %}
                  {{ product.name }}
                {% endif %}
              {% endautoescape %}
            </p>
          </a>
          <p class="card-text">
            {% autoescape off %}
              {% if product.bodyline %}
                {{ product.bodyline|truncatechars:100 }}
              {% else %}
                {{ product.description|truncatechars:35 }}
              {% endif %}
            {% endautoescape %}
          </p>
          <p class="product_id">id: {{ product.display_id }}</p>
          <div class="d-flex justify-content-between">
            <p>
              <strong>{{ product.price }} $</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
